/* */

.inline-grid-container {
  display: flex;
  justify-content: center;
  margin-left: 2cm;
  margin-right: 2cm;
  flex-wrap: nowrap;
}

.circle-image {
  max-width: 200px;
  /* Adjust circle size */
  max-height: 200px;
  border-radius: 50%;
}

.text-container {
  margin-right: 3cm;
  /* Add spacing between text and button */
}

.button-container {
  text-align: center;
  /* Center button horizontally */
}

button {
  font-family: Futura;
  font-size: 18.83px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  width: 256px;
  height: 69px;
  top: 176px;
  left: 883px;
  padding: 22.37px 48.98px 21.63px 49.02px;
  border-radius: 3.27px ;
  background-color:#1D63D3;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0e4c8f;
  /* Change button color on hover */
}

.doctorName {
  font-family: futura;
  font-size: 35px;
  font-weight: 600;
}

.doctorInfo {
  font-family: "Poppins", sans-serif;
}